node_modules
package-lock.json
config.js
dist
config.ts
public/uploads/projects/archives/*
public/uploads/projects/images/*

!public/uploads/projects/archives/default
!public/uploads/projects/images/default